{#首页显示的图像#}
    <div class="col-lg-3 col-lg-offset-4 " style="position: absolute;top: 7%">
        <img src="{{ url_for('static',filename="img/login.gif") }}">
    </div>
    <div class="col-lg-3 col-lg-offset-4 " style="position: absolute;top: 10%;left: 26%;">
        <img src="{{ url_for('static',filename="favicon.ico") }}" style="border-radius: 50%" width="88px"
             height="88px">
    </div>
    <div class="col-lg-3 col-lg-offset-4 " style="position: absolute;top: 10%;left: 15%;">
        <img src="{{ url_for('static',filename="favicon.ico") }}" style="border-radius: 50%" width="88px"
             height="88px">
    </div>
    <div class="col-lg-3 col-lg-offset-4 " style="position: absolute;top:10%;left: 4%;">
        <img src="{{ url_for('static',filename="favicon.ico") }}" style="border-radius: 50%" width="88px"
             height="88px">
    </div>