{#首页博客页面#}
{% extends "base.html" %}
{% from "maros.html" import show_pagination with context %}
{% block title %}
    首页
{% endblock %}
{% block body %}
    {% if posts %}
        <div id="posts" class="col-sm-7 col-sm-offset-2" style="float: left">
            {% for post in posts %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ post.title }} <label
                                class="label label-success">{{ post.post_species.name }}</label></h3>
                    </div>
                    <div class="panel-body">
                        {{ post.body|striptags|truncate }}<a href="#"><a
                            href="{{ url_for("blog.show_post",page_id=post.id) }}">Readme</a></a>
                    </div>
                    <div class="panel-footer">
                        <span style="color: red">作者:</span>{{ post.author_name }}
                        <span style="margin-right: 10%"></span>
                        <span class="glyphicon glyphicon-comment"
                              style="color: rgb(255, 140, 60);">    评论：<i class="badge">0</i></span>
                        <span class="glyphicon glyphicon-star" style="color: rgb(255, 140, 60);"> 收藏：<i
                                class="badge">0</i></span>
                        <span class="glyphicon glyphicon-heart" style="color: rgb(255, 140, 60);"> 点赞：<i
                                class="badge">0</i></span>
                        <span style="margin-right: 30%"></span>
                        <span style="color: #00a8c6">时间:</span>{{ post.timestmp }}
                    </div>
                </div>
            {% endfor %}
            {{ show_pagination(pagination,endpoint) }}
        </div>

    {% else %}
        <div class="col-sm-offset-3">
            <h1>暂时没有任务</h1>
        </div>
    {% endif %}
    <div class="col-sm-2 col-sm-offset-9" style="position:absolute;top: 10%">
        <a href="#" class="list-group-item active">
            分类
        </a>
        {% for s in species %}
            <a href="{{ url_for("blog.show_species_posts", page=1,name=s.name) }}"
               class="list-group-item">{{ s.name }}</a>
        {% endfor %}
    </div>
{% endblock %}